In [21]:
import pandas as pd
import matplotlib as plt
from sklearn import linear_model

In [22]:
df = pd.read_csv("LinearRegression_MultiVar1Data.csv")

In [23]:
df

   area  bedrooms  age   price  Unnamed: 4
0  2600       3.0   20  550000         NaN
1  3000       4.0   15  565000         NaN
2  3200       NaN   18  610000         NaN
3  3600       3.0   30  595000         NaN
4  4000       5.0    8  760000         NaN
5  4100       6.0    8  810000         NaN

In [24]:
m = df.bedrooms.median()
m

4.0

In [25]:
df.bedrooms = df.bedrooms.fillna(m)

In [26]:
df

   area  bedrooms  age   price  Unnamed: 4
0  2600       3.0   20  550000         NaN
1  3000       4.0   15  565000         NaN
2  3200       4.0   18  610000         NaN
3  3600       3.0   30  595000         NaN
4  4000       5.0    8  760000         NaN
5  4100       6.0    8  810000         NaN

In [27]:
reg = linear_model.LinearRegression()

In [28]:
reg.fit(df[['area', 'bedrooms', 'age']], df.price)

LinearRegression()

In [29]:
reg.predict([[4000, 6, 1]])

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([806674.33219294])

In [30]:
reg.predict([[3000, 3, 40]])

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])